@model AgenciaViagem.Models.Destino

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Destino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataIda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPassageiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPassageiros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDestino">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
