@model IEnumerable<AgenciaViagem.Models.Destino>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataIda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdPassageiros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdPassageiros)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDestino" class="btn btn-outline-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDestino" class="btn btn-outline-warning">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDestino"  class="btn btn-outline-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
